@charset "UTF-8";
html {
  background: black;
}

body {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  background: #002b36;
  color: #6c71c4;
}

pre {
  float: left;
  margin: 0;
  height: 100%;
  white-space: pre;
  font-family: "android sans mono", monospace;
  font-weight: bold;
  font-size: 16px;
  background: #002b36;
  color: #6c71c4;
  box-shadow: #002b36 0px 0px 200px;
}

b {
  color: #6c71c4;
  white-space: pre;
}

a {
  text-decoration: none;
  color: #6c71c4;
  background: #073642;
}

.title {
  color: #d33682;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  background: #002b36;
  display: table;
  font-size: 16px;
}
ul li {
  margin: 0;
  font-family: monospace;
  white-space: pre;
  list-style: none;
  font-size: 16px;
}
ul li::before, ul li::after {
  content: "│";
  font-weight: bold;
  color: #6c71c4;
}
ul li.sep {
  font-weight: bold;
  color: #6c71c4;
}
ul li.sep::before, ul li.sep::after {
  content: "┼";
}
