#side{
	margin: 0; padding: 0;
	float: right;
	background: $base03;
	display: table;
	font-size: 16px;
	li{
		margin: 0;
		font-family: "Droid Sans Mono", monospace;
		white-space: pre;
		list-style: none;
		font-size: 16px;
		&::before, &::after{
			content:"│";
			font-weight: bold; 
			color: $violet;
		}
		&.sep{
			font-weight: bold;
			color: $violet;
			&::before, &::after{
				content:"";
			}
		}
		a{
			display: inline-block;
			width: 180px;
		}
	}
}
