@import "color";
@import "tools";

html{
	background: black;
}
body{
	width: 800px; height: 100%;
	margin: 0 auto;
	background: $base03; color: $base0;
}
p{
	font-family: "droid sans", monospace;
}
a{
	color: $violet;
	@include over($base03, $base02);
}
.title{
	color: $fushia;
	font-weight: normal;
}
@import "title";
@import "side";
