@import "color";

html{
	background: black;
}
body{
	width: 800px; height: 100%;
	margin: 0 auto;
	background: $base03; color: $violet;
}
pre{
	float: left;
	margin: 0;
	height: 100%;
	white-space: pre;
	font-family: "android sans mono", monospace;
	font-weight: bold; font-size: 16px;
	background: $base03; color: $violet;
	box-shadow: $base03 0px 0px 200px;
}
b{
	color: $violet;
	white-space: pre;
}
a{
	text-decoration: none;
	color: $violet;
	background: $base02;
}
.title{
	color: $fushia;
	font-weight: normal;
}
@import "side";
